.myBg {
    color: whitesmoke;
    background-image: url(https://i.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.myCard{
    border: 1px inset greenyellow;
    border-radius: 12px;
}
